<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sections>
    <section name="carConfiguration" handler="Esoft.Framework.Utility.Configuration.CarManageConfig,Esoft.Framework.Utility"/>
  </sections>
  <configurations>
    <carConfiguration>
      <!--个人版数据库连接字符串名称-->
      <add key="ConnectionStringName" value="CarConnectionString"/>
      <!--数据访问提供程序-->
      <add key="DataAccessProvider" value="Esoft.Framework.DataAccess"/>
      <!--服务提供程序-->
      <add key="ServiceProvider" value="Esoft.Framework.Service.DH"/>
      <!--阿里巴巴服务提供程序-->
      <add key="ALServiceProvider" value="Esoft.Framework.Service.AL"/>
      <!--BabyOnline服务提供程序-->
      <add key="BLServiceProvider" value="Esoft.Framework.Service.BL"/>
      <!--27dress服务提供程序-->
      <add key="TSServiceProvider" value="Esoft.Framework.Service.TS"/>
      <!--SuZhoudress服务提供程序-->
      <add key="SZServiceProvider" value="Esoft.Framework.Service.SZ"/>
      <!--数据传输提供程序-->
      <add key="TransportProvider" value="Esoft.Framework.Transport.Personal"/>
      <!--数据导入提供程序-->
      <add key="ImportProvider" value="Esoft.Framework.Business"/>
      <!--数据传输服务协议-->
      <add key="TransportProtocal" value="net.tcp"/>
      <!--数据传输服务地址-->
      <add key="TransportServer" value="192.168.0.75"/>
      <add key="TransportServer1" value="localhost"/>
      <!--数据传输服务端口号-->
      <add key="TransportPort" value="28732"/>
      <!--供应商系统数据传输服务协议-->
      <add key="SupplierTransportProtocal" value="http"/>
      <!--供应商系统数据传输服务地址-->
      <add key="SupplierTransportServer" value="seller.suzhoudress.com"/>
      <add key="SupplierTransportServer1" value="localhost"/>
      <!--供应商系统数据传输服务端口号-->
      <add key="SupplierTransportPort" value="80"/>

      <!--供应商系统数据传输Web服务地址-->
      <add key="SupplierWebServiceUrl" value="http://seller.suzhoudress.com/SupplierServiceTransfer.svc"/>
      <add key="SupplierWebServiceUrl1" value="http://localhost/SupplierServiceTransfer.svc"/>

      <!--异常处理策略-->
      <add key="ExceptionPolicy" value="Assistant Policy"/>
      <!--数据库服务器名称-->
      <add key="ServerName" value=".\SQLEXPRESS"/>
      <!--应用程序版本-->
      <add key="Edition" value="Personal"/>
      <!--是否加载缩略图-->
      <add key="IsLoadThumbPic" value="1"/>
      <!--是否加载价格-->
      <add key="IsLoadPrice" value="1"/>
      <!--系统语言-->
      <add key="Language" value="zh-CN"/>
      <!--页面大小-->
      <add key="PageSize" value="30"/>
      <!--图片存放路径-->
      <add key="ImagePath" value="E:\CarManageImage\"/>
      <!--是否启用缓存-->
      <add key="EnableCache" value="True"/>
      <!--是否启用权限-->
      <add key="EnablePermission" value="True"/>
    </carConfiguration>
  </configurations>
</configuration>